<div class = 'view-form-partial'>
    <%= form_for @purchase_order, html: {class: 'ui form'} do |purchase_order| %>
        <div class = 'ui attached segment basic-information-segment'>
            <div class = 'ui three column grid'>
                <div class = 'row'>
                    <div class = 'nine wide column'>
                        <div class = 'required field'>
                            <label>Customer Account</label>
                            <%= render '/shared/customer_account_selector' %>
                        </div>
                    </div>
                    <div class = 'four wide column'>
                        <div class = 'required field'>
                            <%= label_tag :purchase_date, 'Purchase Date' %>
                            <%= purchase_order.date_field :purchase_date, required: true %>
                        </div>
                    </div>
                    <div class = 'three wide column'>
                        <div class = 'required field'>
                            <label>Payment Terms</label>
                            <div id = 'select-paymentTerms' class = 'ui fluid floating dropdown button' data-value = '30-days'>
                                <span class = 'text'>30 Days</span>
                                <i class = 'dropdown icon'></i>
                                <div class = 'menu'>
                                    <div class = 'item' data-value = '30-days'>30 Days</div>
                                    <div class = 'item' data-value = '60-days'>60 Days</div>
                                    <div class = 'item' data-value = '90-days'>90 Days</div>
                                    <div class = 'item' data-value = 'paid'>Paid</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = 'ui attached segment order-details-segment'>
            <div class = 'required field'>
                <label>Orders</label>
                <div class = 'ui segments'>
                    <div class = 'ui attached segment add-product-fields-segment'>
                        <div class = 'order-details-message-container'>
                            <div id = 'message-orderValidation' class = 'ui small error message'>
                                <div class = 'header'>fff</div>
                                <div class = 'content'></div>
                            </div>
                        </div>
                        <div class = 'ui five column grid'>
                            <div class = 'row add-product-fields-container'>
                                <div class = 'wide column product-selector-label-container inline-grid-label-container'>
                                    <span class = 'inline-grid-label select-product-label'>Products:</span>
                                </div>
                                <div class = 'wide column product-selector-container inline-grid-field-container'>
                                    <%= render '/shared/product_selector' %>
                                </div>
                                <div class = 'wide column qty-field-label-container inline-grid-label-container'>
                                    <span class = 'inline-grid-label select-qty-label'>Qty:</span>                            
                                </div>
                                <div class = 'wide column qty-field-container inline-grid-field-container'>
                                    <div class = 'field'>
                                        <input id = 'field-newProductQty' type = 'number' min = '1' placeholder = 'Qty...'>
                                    </div>
                                </div>
                                <div class = 'wide column add-order-line-button-container'>
                                    <%= link_to_add_association 'Add', purchase_order, :order_lines, form_name: 'order_line', data: {'association-insertion-node': '#table-orderLines tbody', 'association-insertion-method': 'append'}, id: 'button-addOrderLine', class: 'ui button right floated right disabled' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = 'ui attached segment action-buttons-container'>
                        <div class = 'ui two column grid'>
                            <div class = 'row'>
                                <div class = 'ten wide column'>
                                    <span id = 'label-actionInfo'>Select a product to add from the dropdown.</span>
                                </div>
                                <div class = 'six wide column'>
                                    <div class = 'normal-mode-buttons-container'>
                                        <a id = 'button-deleteMode' class = 'ui compact labeled icon button right floated disabled'><i class = 'trash icon'></i>Delete</a>
                                        <a id = 'button-editMode' class = 'ui compact labeled icon button right floated disabled'><i class = 'edit icon'></i>Edit</a>
                                    </div>
                                    <div class = 'edit-mode-buttons-container'>
                                        <a id = 'button-editMode-save' class = 'ui compact positive labeled icon button right floated'><i class = 'save icon'></i>Save</a>
                                        <a id = 'button-editMode-cancel' class = 'ui compact button right floated'>Cancel</a>
                                    </div>
                                    <div class = 'delete-mode-buttons-container'>
                                        <a id = 'button-deleteMode-delete' class = 'ui compact negative labeled icon button right floated disabled'><i class = 'trash icon'></i>Delete<span class = 'selected-count'></span></a>
                                        <a id = 'button-deleteMode-cancel' class = 'ui compact button right floated'>Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = 'ui attached segment order-line-table-container'>
                        <div class = ''>
                            <table id = 'table-orderLines' class = 'ui celled striped table'>
                                <thead>
                                    <tr>
                                        <th class = 'col-checkbox'>
                                            <div id = 'check-selectAll' class = 'ui fitted checkbox'>
                                                <input type = 'checkbox'>
                                            </div>
                                        </th>
                                        <th class = 'col-particulars'>Particulars</th>
                                        <th class = 'col-unit-price'>Unit Price</th>
                                        <th class = 'col-qty'>Qty.</th>
                                        <th class = 'col-order-price'>Order Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%= purchase_order.fields_for :order_lines do |order_line| %>
                                        <%= render 'order_line_fields', order_line: order_line %>
                                    <% end %>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                    <div class = 'ui attached segment main-price-container'>
                        <div class = 'left-col'>
                             <span class = 'label subtotal-info-label'>Subtotal:</span>
                        </div>
                        <div class = 'right-col'>
                             <span id = 'label-subtotal' class = 'value'>0.00</span>
                        </div>
                    </div>
                    <div class = 'ui attached segment discount-segment'>
                        <div class = 'ui four column grid'>
                            <div class = 'row discount-container'>
                                <div class = 'wide column discount-type-label-container inline-grid-label-container'>
                                    <span class = 'inline-grid-label text-label disabled'>Discount:</span>
                                </div>
                                <div class = 'wide column discount-type-container inline-grid-field-container'>
                                    <div class = 'field'>
                                        <div id = 'select-discountType' class = 'ui fluid floating dropdown button disabled'>
                                            <span class = 'text'>No Discount</span>
                                            <i class = 'dropdown icon'></i>
                                            <div class = 'menu'>
                                                <div class = 'item' data-value = 'none'>No Discount</div>
                                                <div class = 'item' data-value = 'percent'>% of Subtotal</div>
                                                <div class = 'item' data-value = 'amount'>Exact Amount</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = 'wide column discount-value-label-container inline-grid-label-container'>
                                    <span class = 'inline-grid-label'>Value:</span>
                                </div>
                                <div class = 'wide column discount-value-container inline-grid-field-container'>
                                    <div class = 'ui right labeled input discount-field-percent-container'>
                                        <input id = 'field-discountPercent' type = 'text' placeholder= 'Percent'>
                                        <div class = 'ui basic label'>%</div>
                                    </div>
                                    <div class = 'ui labeled input discount-field-amount-container'>
                                        <div class = 'ui basic label'>₱</div>
                                        <input id = 'field-discountAmount' type = 'text' placeholder = 'Amount'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = 'ui attached segment main-price-container'>
                        <div class = 'left-col'>
                             <span class = 'label discount-info-label text-label disabled'>Discount:</span>
                        </div>
                        <div class = 'right-col'>
                             <span id = 'label-discount' class = 'value text-label disabled'>0.00</span>
                        </div>
                    </div>
                    <div class = 'ui attached segment total-price-container'>
                        <div class = 'left-col'>
                             <!-- <span class = 'label total-info-label'>Grand Total:</span> -->
                        </div>
                        <div class = 'right-col'>
                             <span class = 'value'>₱ <span id = 'label-total'>0.00</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'ui attached segment status-segment'>
            <div class = 'required field'>
                <label>Status</label>
                <div class = 'ui two column grid'>
                    <div class = 'wide column status-container'>
                        <div id = 'select-status' class = 'ui fluid floating dropdown button' data-value = 'unfulfilled'>
                            <span class = 'text'>Unfulfilled</span>
                            <i class = 'dropdown icon'></i>
                            <div class = 'menu'>
                                <div class = 'item' data-value = 'unfulfilled'>Unfulfilled</div>
                                <div class = 'item' data-value = 'fulfilled'>Fulfilled</div>
                            </div>
                        </div>
                    </div>
                    <div class = 'six wide column'>
                        <div class = 'date-fulfilled-container'>
                            <div class = 'ui two column grid'>
                                <div class = 'row'>
                                    <div class = 'six wide column inline-grid-label-container'>
                                        <span class = 'inline-grid-label'>Date Fulfilled:</span>
                                    </div>
                                    <div class = 'ten wide column inline-grid-field-container'>
                                        <%= purchase_order.date_field :date_fulfilled, required: true %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class = 'field'>
                <%= label_tag :remarks %>
                <div class = 'ui column grid'>
                    <div class = 'row'>
                        <div class = 'sixteen wide column'>
                            <%= purchase_order.text_area :remarks %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'ui bottom attached segment'>
            <%= purchase_order.submit 'Save', class: 'ui primary button' %>
        </div>

        <!-- HIDDEN FIELD -->
        <!-- Purchase Date field used above. -->
        <%= purchase_order.text_field :customer_account_id, hidden: true %>
        <%= purchase_order.text_field :payment_terms, hidden: true %>
        <%= purchase_order.date_field :due_date, hidden: true %>
        <%= purchase_order.text_field :subtotal, hidden: true %>
        <%= purchase_order.text_field :discount_type, hidden: true %>
        <%= purchase_order.text_field :discount, hidden: true %>
        <%= purchase_order.text_field :negotiated_price, hidden: true %>
        <%= purchase_order.text_field :status, hidden: true %>
        <!-- Date Fulfilled field used above. -->
    <% end %>
</div>