<%= render 'header' %>
<div class = 'container-content view-index'>
    <div class = 'ui segment filter-menu-container'>
        <div class = 'ui column grid'>
            <div class = 'row'>
                <div class = 'wide column label-container show-label'>
                    <span>Show:</span>
                </div>
                <div class = 'wide column field-container show-field'>
                    <div class = 'ui fluid floating dropdown basic button'>
                        <div class = 'default text'>All Purchase Orders</div>
                        <i class = 'dropdown icon'></i>
                        <div class = 'menu'>
                            <div class = 'item'>All Purchase Orders</div>
                            <div class = 'item'>Unfulfilled</div>
                            <div class = 'item'>Fulfilled</div>
                            <div class = 'item'>Incomplete Payment</div>
                            <div class = 'item'>Fully Paid</div>
                        </div>
                    </div>
                </div>
                <div class = 'wide column label-container sort-label'>
                    <span>Sort:</span>
                </div>
                <div class = 'wide column field-container sort-by-field'>
                    <div class = 'ui fluid floating dropdown basic button'>
                        <div class = 'default text'>Name</div>
                        <i class = 'dropdown icon'></i>
                        <div class = 'menu'>
                            <div class = 'item'>Name</div>
                            <div class = 'item'>Price</div>
                            <div class = 'item'>Classification</div>
                            <div class = 'item'>Quantity</div>
                            <div class = 'item'>Date Added</div>
                        </div>
                    </div>
                </div>
                <div class = 'wide column field-container sort-asc-desc-field'>
                    <div class = 'ui fluid floating dropdown basic button'>
                        <div class = 'default text'>Asc.</div>
                        <i class = 'dropdown icon'></i>
                        <div class = 'menu'>
                            <div class = 'item'>Asc.</div>
                            <div class = 'item'>Desc.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = 'ui segment index-all-records-list-container'>
        <div class = 'ui middle aligned divided very relaxed list index-all-records-list'>
            <div class = 'item list-header'>
                <div class = 'ui column grid content'>
                    <div class = 'row'>
                        <div class = 'wide column col-purchaseDate'>Date</div>
                        <div class = 'wide column col-poDetails'>Purchase Order Details</div>
                        <div class = 'wide column col-status'>Status</div>
                        <div class = 'wide column col-outstandingBal'>Outstanding Bal.</div>
                        <div class = 'wide column col-actions'>Actions</div>
                    </div>
                </div>
            </div>
            <div class = 'scrollable-item-area'>
                <% if @purchase_orders.empty? %>
                    <div class = 'item list-item'>
                        <span><i>No purchase orders to show.</i></span>
                    </div>
                <% else %>
                    <% @purchase_orders.each do |purchase_order| %>
                        <div class = 'item list-item'>
                            <div class = 'ui column grid content'>
                                <div class = 'row'>
                                    <div class = 'wide column col-purchaseDate'>
                                        <span><%= purchase_order.purchase_date.strftime('%b %d, %Y') %></span>
                                    </div>
                                    <div class = 'wide column col-poDetails'>
                                        <div class = 'header'><%= purchase_order.po_num %></div>
                                        <table class = 'details'>
                                            <tbody>
                                                <tr>
                                                    <td class = 'key'>Customer:</td>
                                                    <td class = 'value'><%= purchase_order.customer_account.customer_name %></td>
                                                </tr>
                                                <tr>
                                                    <td class = 'key'>Orders:</td>
                                                    <td class = 'value'>
                                                        <%= purchase_order.products.count.to_s %>
                                                        <%= purchase_order.products.count != 1 ? 'items' : 'item' %>
                                                        <%= ' — '%>
                                                        <% product_names = [] %>
                                                        <% purchase_order.products.each do |product| %>
                                                            <% product_names.push(product.product_name) %>
                                                        <% end %>
                                                        <%= product_names.join('; ') %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class = 'key'>Total:</td>
                                                    <td class = 'value'>₱ <%= number_with_precision(purchase_order.negotiated_price, precision: 2, delimiter: ',') %></td>
                                                </tr>
                                                <tr>
                                                    <td class = 'key'>Remarks:</td>
                                                    <td class = 'value'>
                                                        <%= purchase_order.remarks != nil && purchase_order.remarks != '' ? purchase_order.remarks : '<i>No Remarks.</i>'.html_safe %>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class = 'wide column col-status'>
                                        <%= purchase_order.status.capitalize %>
                                        <div class = 'single-detail'>
                                            <%= 'on ' + purchase_order.date_fulfilled.strftime('%b %d, %Y') if purchase_order.status == 'fulfilled' %>
                                        </div>
                                    </div>
                                    <div class = 'wide column col-outstandingBal'>
                                        <% if purchase_order.outstanding_balance > 0 %>
                                            <%= number_with_precision(purchase_order.outstanding_balance, precision: 2, delimiter: ',') %>
                                            <div class = 'single-detail'>
                                                <%= 'due on ' + purchase_order.due_date.strftime('%b %d, %Y') if purchase_order.outstanding_balance > 0 %>
                                            </div>
                                        <% else %>
                                            <i>Fully paid.</i>
                                        <% end %>
                                    </div>
                                    <div class = 'wide column col-actions'>
                                        <div class = 'ui small floating dropdown icon button'>
                                            <i class = 'caret down icon'></i>
                                            <div class = 'menu'>
                                                <a class = 'item' href = <%= purchase_order_edit_status_path(purchase_order.id) %>>Update Status</a>
                                                <a class = 'item <%= 'disabled' if purchase_order.outstanding_balance == 0 %>' href = <%= new_customer_payment_path(customer_account_id: purchase_order.customer_account.id, purchase_order_id: purchase_order.id) %>>Add Payment</a>
                                                <div class = 'divider'></div>
                                                <a class = 'item' href = <%= purchase_order_path(purchase_order.id) %>><i class = 'folder open icon'></i>View</a>
                                                <a class = 'item' href = <%= edit_purchase_order_path(purchase_order.id) %>><i class = 'edit icon'></i>Edit</a>
                                                <a class = 'item' href = ''><i class = 'trash icon'></i>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>