<%= render 'header' %>
<div class = 'container-content view-show'>
    <div class = 'section-messages'>
        <div class = 'section-messages'>
            <%= render '/shared/flash_messages' %>
        </div>
    </div>
    <div class = 'section-content'>
        <div class = 'ui form'>
            <div class = 'ui attached message'>
                <div class = 'header'>View Purchase Order</div>
            </div>
            <div class = 'ui attached segment'>
                <div class = 'customer-information-container'>
                    <div class = 'field'>
                        <label>Purchase Order ID</label>
                        <span><%= @purchase_order.po_num %></span>
                    </div>
                    <div class = 'field'>
                        <label>Customer Account</label>
                        <table class = 'general-details-table'>
                            <tbody>
                                <tr>
                                    <td class = 'key'>Name:</td>
                                    <td class = 'value'><%= @purchase_order.customer_account.customer_name %></td>
                                </tr>
                                <tr>
                                    <td class = 'key'>Address:</td>
                                    <td class = 'value'><%= @purchase_order.customer_account.address %></td>
                                </tr>
                                <tr>
                                    <td class = 'key'>Email:</td>
                                    <td class = 'value'><%= @purchase_order.customer_account.email %></td>
                                </tr>
                                <tr>
                                    <td class = 'key'>Tel. No.:</td>
                                    <td class = 'value'><%= @purchase_order.customer_account.telephone_number %></td>
                                </tr>
                                <tr>
                                    <td class = 'key'>Fax No.:</td>
                                    <td class = 'value'><%= @purchase_order.customer_account.fax_number %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class = 'ui attached segment'>
                <div class = 'ui three column grid metadata-container'>
                    <div class = 'row'>
                        <div class = 'custom wide column'>
                            <div class = 'field'>
                                <label>Purchase Date</label>
                                <span><%= @purchase_order.purchase_date.strftime('%b %d, %Y') %></span>
                            </div>
                        </div>
                        <div class = 'custom wide column'>
                            <div class = 'field'>
                                <label>Status</label>
                                <span>
                                    <%= @purchase_order.status.capitalize %>
                                    <%= '— on ' + @purchase_order.date_fulfilled.strftime('%b %d, %Y') if @purchase_order.status == 'fulfilled' %>
                                </span>
                            </div>
                        </div>
                        <div class = 'custom wide column'>
                            <div class = 'field'>
                                <label>Payment Terms</label>
                                <span>
                                    <%= '30 Days' if @purchase_order.payment_terms == '30-days' %>
                                    <%= '60 Days' if @purchase_order.payment_terms == '60-days' %>
                                    <%= '90 Days' if @purchase_order.payment_terms == '90-days' %>
                                    <%= '<i>Paid on Purchase.</i>'.html_safe if @purchase_order.payment_terms == 'paid' %>
                                    <%= '— due ' + @purchase_order.due_date.strftime('%b %d, %Y') if @purchase_order.payment_terms != 'paid' %>
                                </span>
                            </div>
                        </div>
                        <div class = 'custom wide column'>
                            <div class = 'field'>
                                <label>Outstanding Bal.</label>
                                <span>
                                    <% if @purchase_order.outstanding_balance > 0 %>
                                        ₱ <%= number_with_precision(@purchase_order.outstanding_balance, precision: 2, delimiter: ',').to_s + ' remaining' %>
                                    <% else %>
                                        <i>Fully Paid</i>
                                    <% end %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'ui attached segment'>
                <div class = 'field'>
                    <label>Orders</label>
                    <div class = 'ui segments'>
                        <div class = 'ui attached segment order-line-table-container'>
                            <table class = 'ui celled striped table'>
                                <thead>
                                    <tr>
                                        <th class = 'col-particulars'>Particulars</th>
                                        <th class = 'col-unit-price'>Unit Price</th>
                                        <th class = 'col-qty'>Qty.</th>
                                        <th class = 'col-order-price'>Order Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @purchase_order.order_lines.each do |order_line| %>
                                        <tr>
                                            <td class = 'col-particulars'><%= @purchase_order.products.find(order_line.product_id).product_name %> </td>
                                            <td class = 'col-unit-price'><%= number_with_precision(@purchase_order.products.find(order_line.product_id).unit_price, precision: 2, delimiter: ',') %></td>
                                            <td class = 'col-qty'><%= order_line.quantity %></td>
                                            <td class = 'col-order-price'><%= number_with_precision(order_line.order_price, precision: 2, delimiter: ',') %></td>
                                        </tr>
                                    <% end %>
                                </tbody> 
                            </table>
                        </div>
                        <div class = 'ui attached segment main-price-container subtotal-info-container'>
                            <div class = 'left-col'>
                                 <span class = 'label'>Subtotal:</span>
                            </div>
                            <div class = 'right-col'>
                                 <span class = 'value'><%= number_with_precision(@purchase_order.subtotal, precision: 2, delimiter: ',') %></span>
                            </div>
                        </div>
                        <div class = 'ui attached segment main-price-container discount-info-container'>
                            <div class = 'left-col'>
                                 <span class = 'label'>Discount:</span>
                            </div>
                            <div class = 'right-col'>
                                <% if @purchase_order.discount > 0 %>
                                    <div class = 'ui basic label'>
                                        <% if @purchase_order.discount_type == 'percent' %>
                                            <%= number_with_precision(((@purchase_order.discount / @purchase_order.subtotal) * 100), precision: 0).to_s + '%'  %>
                                        <% elsif @purchase_order.discount_type == 'amount' %>
                                            <%= 'Exact' %>
                                        <% end %>
                                    </div>
                                <% end %>
                                <span class = 'value'>
                                    <%= number_with_precision(@purchase_order.discount, precision: 2, delimiter: ',') %>
                                </span>
                            </div>
                        </div>
                        <div class = 'ui attached segment total-price-container'>
                            <div class = 'left-col'></div>
                            <div class = 'right-col'>
                                 <span class = 'value'>
                                    <%= '₱ ' + number_with_precision(@purchase_order.negotiated_price, precision: 2, delimiter: ',').to_s %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'ui bottom attached segment'>
                <div class = 'field'>
                    <label>Remarks</label>
                    <%= @purchase_order.remarks.blank? ? '<i>No Remarks.</i>'.html_safe : @purchase_order.remarks %>
                </div>
            </div>
        </div>
    </div>
</div>