<div class = 'container-content view-show'>
    <h1>View Customer Account</h1>
    <p><b>Name:</b> <%= @customer_account.customer_name %></p>
    <p><b>Address:</b> <%= @customer_account.address %></p>
    <p><b>Email:</b> <%= @customer_account.email %></p>
    <p><b>Telephone No.:</b> <%= @customer_account.telephone_number %></p>
    <p><b>Fax No.:</b> <%= @customer_account.fax_number %></p>
</div>