<div id = 'select-products' class = 'ui fluid selection search dropdown'>
    <span class = 'default text'>Select Product...</span>
    <i class = 'dropdown icon'></i>
    <div class = 'menu custom'>
        <% @products.each do |product| %>
            <div class = 'item' data-value = <%= product.id %>>
                <span class = 'title text' id = 'val-productName'><%= product.product_name %></span>
                <span class = 'subtext'>
                    <span class = ''> ― <span id = 'val-quantity'><%= product.remaining_quantity %></span> units left </span>
                    <span class = 'float-right'>₱ <span id = 'val-unitPrice'><%= number_with_precision(product.unit_price, precision: 2, delimiter: ',') %></span></span>
                </span>
                <table class = 'details'>
                    <tbody>
                        <tr>
                            <td class = 'key'>Type: </td>
                            <td id = 'val-productType' class = 'value'><%= product.product_type %></td>
                        </tr>
                            <td class = 'key'>Specs.: </td>
                            <td id = 'val-productSpecs' class = 'value specs'><%= product.product_specs %></td>
                        </tr>
                        <tr>
                            <td class = 'key'>Description: </td>
                            <td id = 'val-description' class = 'value'><%= product.description %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
</div>