<%= render 'header' %>
<div class = 'container-content view-show'>
    <div class = 'section-messages'>
        <%= render '/shared/flash_messages' %>
    </div>
    <div class = 'section-content'>
        <div class = 'ui attached message'>
            <div class = 'header'>View Customer Payment</div>
        </div>
        <div class = 'ui bottom attached segment'>
            <div class = 'ui form'>
                <div class = 'field'>
                    <label>Customer Account</label>
                    <span><%= @customer_payment.customer_account.customer_name %></span>
                </div>
                <div class = 'field'>
                    <label>Purchase Order</label>
                    <span><%= @customer_payment.purchase_order.po_num %></span>
                </div>
                <div class = 'field'>
                    <label>Payment Date</label>
                    <span><%= @customer_payment.payment_date %></span>
                </div>
                <div class = 'field'>
                    <label>Amount Paid</label>
                    <span>₱ <%= number_with_precision(@customer_payment.amount_paid, precision: 2, delimiter: ',') %></span>
                </div>
            </div>
        </div>
    </div>
</div>