<div class = 'container-content view-show'>
    <h1>Show Product</h1>
    <p><b>Product Name:</b> <%= @product.product_name %> </p>
    <p><b>Product Type:</b> <%= @product.product_type %> </p>
    <p><b>Specifications:</b> <%= @product.product_specs %> </p>
    <p><b>Description:</b> <%= @product.description %> </p>
    <p><b>Unit Price:</b> <%= @product.unit_price %> </p>
</div>