<%= render 'header' %>
<div class = 'container-content view-show'>
    <div class = 'section-messages'>
        <%= render '/shared/flash_message' %>
    </div>
    <div class = 'section-content'>
        <div class = 'ui attached message'>
            <div class = 'header'>View Product</div>
        </div>
        <div class = 'ui bottom attached segment'>
            <div class = 'ui form'>
                <div class = 'field'>
                    <label>Name</label>
                    <span><%=  @product.product_name %></span>
                </div>
                <div class = 'field'>
                    <label>Classification</label>
                    <span><%=  @product.product_type %></span>
                </div>
                <div class = 'field'>
                    <label>Specifications</label>
                    <span><%=  @product.product_specs %></span>
                </div>
                <div class = 'field'>
                    <label>Description</label>
                    <span><%= @product.description.blank? ? '<i>No Description.</i>'.html_safe : @product.description %></span>
                </div>
                <div class = 'field'>
                    <label>Unit Price</label>
                    <span>₱ <%= number_with_precision(@product.unit_price, precision: 2, delimiter: ',') %></span>
                </div>
            </div>
        </div>
    </div>
</div>