<!DOCTYPE html>
<html>
  <head>
    <title>Aiis</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller] %>

  </head>
  <body style>
    <div class = 'ui left vertical menu visible inverted sidebar'>
      <div class = 'item'>
        <div class = 'header'>Quick Links</div>
        <div class = 'menu'>
          <a class = 'item'>Add Purchase Order</a>
          <a class = 'item'>Add Customer Payment</a>
        </div>
      </div>
      <div class = 'item'>
        <div class = 'header'>Dashboard</div>
        <div class = 'menu'>
          <a class = 'item'>Home</a>
          <a class = 'item'>Inventory</a>
          <a class = 'item'>Purchase Orders</a>
          <a class = 'item'>Customer Payments</a>
          <a class = 'item'>Customer Accounts</a>
        </div>
      </div>
    </div>
    <div class = 'pusher' style = 'max-width: 820px; padding: 1em;'>
      <%= yield %>
    </div>
  </body>
</html>
